$myYellow: #bb9f3e;

// .container {
//   padding: 0 2rem;
//   background-color: #a2d3da;
// }

// .main {
//   min-height: 100vh;
//   padding: 4rem 0;
// }

// .title a {
//   color: #0070f3;
//   text-decoration: none;
// }

// .title a:hover,
// .title a:focus,
// .title a:active {
//   text-decoration: underline;
// }

// .title {
//   margin: 0 auto 50px;
//   line-height: 1.15;
//   font-size: 4rem;
//   color: $myYellow;
//   display: flex;
//   justify-content: center;
// }

// .box {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin: auto;
//   width: 699px;
//   height: 660px;
//   background-color: aliceblue;
//   border-radius: 40px;
//   border: 6px solid $myYellow;
// }
.divi {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  margin: 40px 145px 20px;
  background-color: #58cbb0;
  width: 250px;
  height: 60px;
  border: none;
  border-radius: 18px;
  font-size: 1.75rem;
  &:hover {
    border: 4px solid $myYellow;
    box-shadow: 5px 7px 8px #a2d3da;
  }
}

.button2 {
  background-color: $myYellow;
  width: 250px;
  height: 49px;
  border: none;
  border-radius: 18px;
  font-size: 1.75rem;
  box-shadow: 5px 7px 8px #a2d3da;
}

// .settings {
//   width: 541px;
//   height: 554px;#58cbb0
// }

.numberItems {
  display: flex;
  flex-direction: column;
  h1 {
    margin-top: 0px;
  }
  h1, h3{
    align-self: center;
  }
}

.circle {
  width: 90px;
  height: 90px;
  background-color: #9d64c3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  margin: 10px;
  cursor: grab;
}
// .myInput {
//   align-self: center;
//   -webkit-appearance: none;
//   width: 500px;
//   height: 8px;
//   background: rgba(162, 211, 218, 0.6);
//   border-radius: 5px;
//   background-image: linear-gradient($myYellow, $myYellow);
//   background-repeat: no-repeat;

//   &::-webkit-slider-runnable-track {
//     -webkit-appearance: none;
//     box-shadow: none;
//     border: none;
//     background: transparent;
//   }
//   &::-webkit-slider-thumb {
//     -webkit-appearance: none;
//     height: 20px;
//     width: 20px;
//     border-radius: 50%;
//     background: $myYellow;
//     cursor: ew-resize;
//     box-shadow: 0 0 2px 0 #555;
//     transition: background .3s ease-in-out;
//   }
// }


// .title,
// .description {
//   text-align: center;
// }

// .description {
//   margin: 4rem 0;
//   line-height: 1.5;
//   font-size: 1.5rem;
// }

// .code {
//   background: #fafafa;
//   border-radius: 5px;
//   padding: 0.75rem;
//   font-size: 1.1rem;
//   font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
//     Bitstream Vera Sans Mono, Courier New, monospace;
// }

// .grid {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-wrap: wrap;
//   max-width: 800px;
// }

// .card {
//   margin: 1rem;
//   padding: 1.5rem;
//   text-align: left;
//   color: inherit;
//   text-decoration: none;
//   border: 1px solid #eaeaea;
//   border-radius: 10px;
//   transition: color 0.15s ease, border-color 0.15s ease;
//   max-width: 300px;
// }

// .card:hover,
// .card:focus,
// .card:active {
//   color: #0070f3;
//   border-color: #0070f3;
// }

// .card h2 {
//   margin: 0 0 1rem 0;
//   font-size: 1.5rem;
// }

// .card p {
//   margin: 0;
//   font-size: 1.25rem;
//   line-height: 1.5;
// }

// .logo {
//   height: 1em;
//   margin-left: 0.5rem;
// }

// @media (max-width: 600px) {
//   .grid {
//     width: 100%;
//     flex-direction: column;
//   }
// }

// @media (prefers-color-scheme: dark) {
//   .card,
//   .footer {
//     border-color: #222;
//   }
//   .code {
//     background: #111;
//   }
//   .logo img {
//     filter: invert(1);
//   }
// }
